absl-py
astor
attrs
backcall
bleach
cycler
decorator
defusedxml
dill
entrypoints
gast
google-pasta
grpcio
h5py
imagecodecs-lite
importlib-metadata
ipykernel
ipython
ipython-genutils
jedi
Jinja2
joblib
jsonschema
jupyter-client
jupyter-core
Keras-Applications
Keras-Preprocessing
kiwisolver
Markdown
MarkupSafe
matplotlib
mistune
more-itertools
nbconvert
nbformat
numpy
opt-einsum
pandocfilters
parso
pexpect
pickleshare
# pkg-resources
prompt-toolkit
protobuf
ptyprocess
Pygments
pyparsing
pyrsistent
python-dateutil
pyzmq
scikit-learn
scipy
six
tensorboard
tensorflow-estimator
# tensorflow-gpu
termcolor
testpath
tifffile
tornado
tqdm
traitlets
wcwidth
webencodings
Werkzeug
wrapt
zipp
